123
body {
	background-repeat:repeat;
	font-family: "Times New Roman" , Arial,  sans-serif;
	font-size: 90%;
	margin: 0;
	padding: 0; 
newkovri
}
body  {
	background:url("../img/bg.png");;
}
.tovar ,.headtovartitle {
	background:url("../img/bgg.png");;
}
.header ,.leftheader {
	background:url("../img/bgheader.png");
}
body p {
	margin:0;
	padding:0;
}
#allcontent {
	width:980px;
	text-align:center;
	margin:20px auto;
	}
	

.leftheader {
	float:left;
	width:300px;
	height:120px;
}
.title  {
	padding:5px 5px ;
	color:#fff;
	font-style:italic;
	
}
.title .bold {
	font-size:20px;
	font-weight:bold;
	color:#fff;
}
.title .normal {
	font-size:15px;
	font-weight:bold;
	color:#647;
}
.tel {
	background:url("../img/bgtel.png") ;
	padding:5px 5px ;
	border-radius: 5px 5px 5px 5px;
}
.tel img {
	float:left;
	width:50px;
	padding:5px 5px
}
.tel p{
	padding:0;
}
.size50 {
	font-size:10px;
}
.size100 {
	font-size:30px;
}
.centerrheader {
	background:url("../img/bgheader.png");
	float:left;
	width:380px;
	height:120px;
	
} 
.centerrheader img {
	width:100%;
}

.centerrheader a {
	text-decoration:none;
	color:transparent;
}
.centerrheader .zvonok {
	text-align:center;
	padding:10px 0  0 75px;
	margin:0;
	width:230px;
	height:40px;
	}
.zakleft {
	background-image:url("../img/zakleft.png") ;
	padding:10px 8px;
	height:23px;
	float:left;
	margin-top:-1px;
	}
.zakright {
	background-image:url("../img/zakright.png") ;
	padding:10px 9px;
	height:23px;
	float:right;
	margin-top:-1px;
	}

.centerrheader .zvonok  a{
	margin:0;
	padding:0;
	text-decoration:none;
	color:#fff;
	font-size:20px;
}
.centerrheader .zvonok  a table{
	border-collapse:collapse;
	margin-top:-10px;
}
.centerrheader .zvonok  a table td{
	padding:0;
}
.centerrheader .zvonok  a span{
	margin:0;
	padding:10px 0px;
	background:url("../img/zv.png") ;
}
.centerrheader .zvonok  a:hover span{
	padding:10px 0px;
	background:url("../img/zvhover.png") ;
}
.centerrheader .zvonok  a:hover  .zakleft {
	background-image:url("../img/zaklefthover.png") ;
}
.centerrheader .zvonok  a:hover  .zakright {
	background-image:url("../img/zakrighthover.png") ;
}
.rightheader {
	background:url("../img/bgheader.png");
	float:right;
	width:300px;
	height:120px;
}
.rightheader img {
	float:left;
    width:100px;
	height:90px;
	padding:10px 20px;
}
.rightheader .korzina {
   font-size:30px;
}
.rightheader a {
	text-decoration:none;
}
.rightheader .imgkorzina  {
	color:transparent;
	text-decoration:none;
}
.rightheader p {
	padding:10px 10px 0 0;
    text-align:center;
	color:#FFF;
	font-style:italic;
	font-weight:bold;
}
.rightheader .korzina {
	color:#E72B03;
}
#koltovara ,#kolmani {
	font-weight:bold;
}
.menu {
	padding:120px 0 0 0;
	font-weight:bold;
	font-size:90%;
	list-style:none;
	width:100%;
	height:40px;
	margin:0px auto;
    background:url("../img/bgmenu.png");
	margin-top:15px;
}
.menu ul {
	margin:0;
	padding:0;
}
.menu ul li {
	width:14%;
	float:left;
	list-style:none;
	display:block;
	position:relative;
}
.menu ul li a {
	color:#fff;
	display: block;
	padding:10px 0px;
	text-decoration:none;
}
.menu ul li a:hover , .menu ul li a:active {
	background-color:#0c0cf0;
	border-radius: 0px 20px 0px 20px;
}
#search  {
	padding:5px 0px 5px 0px;
	
}
#search  input {
	text-align:left;
	background-color:#6A93D4;
	border-radius: 5px 5px 5px 5px;
	height:25px;
}
#search .search:focus {
	background:#ffe;
	border:2px solid red;
	font-weight:bold;
}
.leftmenu {
	font-style:italic;
	padding:0;
	margin:0;
	float:left;
	background:#6A93D4;
	height:200%;
}
.zagalovokmenu span {
	margin:0;
	padding:10px 10px;
	background:url("../img/zv.png") ;
	color:#fff;
	border-radius:10px;
}
.items ul {
	padding:10px 5px;
}
.items select  ,#sort select {
	color:#49678D;
	font-weight:bold;
	font-style:italic;
	background:#FFCFAB;
	border-radius:10px;
}
.items select:focus  ,#sort select:focus {
	color:#B32428;
}
.items ul {
	padding:0;
	margin:10px 10px;
}
.items ul li {
	padding:10px 0px;
	text-align:left;
	list-style:none;
	display:block;
	position:relative;
	color:#FFF;
	font-weight:bold;
}
.podbor {
	padding:10px;
	list-style:none;
	display:block;
	position:relative;
	color:#FFF;
	font-weight:bold;
	background:url("../img/zv.png");
	border-radius: 0px 20px 0px 20px;
}
.podbor a {
	text-decoration: none;
	color:#0c0cf0;
	text-align:center;
}
.podbor a span{
	text-align:center;
	
}


.headtovartitle {
	font-size:25px;
	font-weight:bold;
	color:#808000;
}
#sort {
	padding-top:10px;
}
#sort table ,#tovarnavig table{
	border-collapse:collapse;
	margin:0;
}
#sort table  td {
	text-align:left;
	font-size:14px;
	padding:10px 25px ;
	margin:0;
}
#sort a {
	text-decoration:none;
	font-weight:bold;
	color:#fff;
}
#tovarnavig   td {
	padding:32px 8px ;
}
#tovarnavig   span ,#sort span {
	font-size:14px;
	font-weight:bold;
	padding:10px 10px ;
	background:url("../img/bgmenu.png");
	border-radius: 10px;
}
#tovarnavig   span:hover  ,#sort span:hover {
	background:#0c0cf0;
	border-radius: 0px 20px 0px 20px;

}
#tovarnavig  a {
	text-decoration:none;
	color:#fff;
}
.clear {
	clear:both;
}
.product {
	border-collapse:collapse;
	margin:0;
	
}
.product td {
	padding:0px 10px;
	
	
}
.iproduct  {
	width:200px;
	height:200px;
	padding:1px 1px;
	margin:10px 10px;
	border:2px outset #B8B799;
	font-family:arial;
	background:#F5F5DC;
}
.iproduct  a {
	color:#fff;
	text-decoration:none;
}
.product  tr td:hover   p {
	color:#0095B6;
	font-weight:bold;
}
.product  tr td:hover  .iproduct {
	background:#FAEEDD;
}

.iproductoption {
	width:200px;
	height:20px;
}
.iproductoption p{
	font-weight:bold;
	font-style:italic;
}
.vkorziny  {
	margin-top:3px;
	float:left;
	width:200px;
	height:20px;
	text-align:center;
}
.vkorziny span{
	background:url("../img/bgmenu.png");
	padding:0px 50px;
	color:#0c0cf0;
	font-size:20px;
	font-weight:bold;
	font-style:italic;
	border-radius:10px;
}
.vkorziny span:hover{
	background:#0095B6;
	color:#fff;
}
.iproductinfo   {
	width:97px;
	height:150px;
	float:right;
}

.iproductinfo  p {
	text-align:left;
	font-size:10px;
	font-weight:bold;
	padding:3px 2px;
	color:#0c0cf0;
}

#tovarimg  img {
	float:left;
	width:100px;
	height:150px;
}
#tovarimg span {
	background:#0c0cf0;
}
.copy {
	background:url("../img/zv.png");
	border-radius:10px;
}        